/* Smooth Scroll */
html {
    scroll-behavior: smooth;
}

/* Image Hover Effect */
.custom-profile-img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-profile-img:hover {
    transform: scale(1.02);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/* Selection Color matches brand */
::selection {
    background-color: #714B67;
    color: white;
}